<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap demo</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
<div class="container mt-5">
  <div class="col-md-7 mx-auto">
    <h7 class="text-center my-3">Для того, чтобы создать  дисциплину, заполните все поля и нажмите кнопку "Создать"</h7>
    <form action="/editDiscipline" method="post">
      <div class="mb-3 col-sm-8">
        <label class="form-label">Название</label>
        <input th:value="${discipline.discipline}" name="discipline" type="text"class="form-control" placeholder="Название дисциплины">
      </div>

      <div class="mb-3">
        <label class="form-label"></label>
        <input type="submit" class="btn btn-primary" value="Сохранить изменения">
      </div>
    </form>
  </div>


</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>